
//*************************************************************************************************
//*********************************************Content*********************************************
//*************************************************************************************************

// Import statements
@import '_variables';

//*************************************************************************************************
//*************************************************************************************************
//******************************************Positioning********************************************
//*******************************************Includes: ********************************************
//position, top, right, bottom, left, z-index, display, float

//flex-direction, flex-wrap, justify-content, align-items, align-content, order, flex-grow,
//flex-shrink, flex-basis, align-self,

//width, height, max-width, max-height, min-width, min-height, padding, padding-top, padding-right,
//padding-bottom, padding-left, margin, margin-top, margin-right, margin-bottom, margin-left,

//margin-collapse, margin-top-collapse, margin-right-collapse, margin-bottom-collapse,
//margin-left-collapse,

//overflow, overflow-x, overflow-y, clip, clear
//*************************************************************************************************
//*************************************************************************************************

//**************************************************
//START Main Block
//**************************************************

main {
    display: flex;
    justify-content: space-between;
}

main {

    .placeholder {
        display: none;
        width: 0;

        @media (min-width: $phone-mid) and (max-width: $tablet-mid) {
            display: block;
            width: 5%;
        }

        @media (min-width: $tablet-mid) {
            display: block;
            width: 10%;
    		min-width: 100px;
        }

    }

    #content {
        width: 100%;
        padding-top: 20px;
        padding-right: 3%;
        padding-bottom: 20px;
        padding-left: 3%;

        @media (min-width: $phone-mid) and (max-width: $phone-max) {
            width: 90%;
        }

        @media (min-width: $phone-max) {
            width: 80%;
        }
    }
}

//**************************************************
//END Main Block
//**************************************************

//**************************************************
//START Generic Element Block
//**************************************************

main {

    p {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

//**************************************************
//END Generic Element Block
//**************************************************

//**************************************************
//START Menu Block
//**************************************************

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {

    .menu-item {
        display: flex;
        flex-direction: column;

        width: 90%;
        margin-top: 5px;
        margin-right: auto;
        margin-bottom: 5px;
        margin-left: auto;

        @media (min-width: $phone-max) {
            max-width: 45%;
        }
    }

    .menu-item-header {
        display: flex;
        justify-content: space-between;

        padding-right: 10%;
        padding-left: 10%;
    }

    .menu-item-body {
        display: flex;
        justify-content: space-between;

        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .menu-item-body {

        div {
            max-width: 30%;
        }

        p {
            padding-right: 10px;
            padding-left: 20px;
        }
    }
}

//**************************************************
//END Menu Block
//**************************************************

//**************************************************
//START About Block
//**************************************************

.logo-img {
    float: left;
    max-width: 50%;
    height: auto;

    @media (min-width: $phone-mid) and (max-width: $phone-max) {
        max-width: 40%;
    }

    @media (min-width: $phone-max) {
        max-width: 30%;
    }
}

//**************************************************
//END About Block
//**************************************************

//**************************************************
//START Contact Block
//**************************************************

.location {
    width: 100%;
    max-width: 600px;
    padding-top: 10px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
}

.location {

    .location-header {
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    div {
        display: flex;
        justify-content: space-between;

        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    p {
        padding: 0;
    }
}

//**************************************************
//END Contact Block
//**************************************************

//**************************************************
//START Login Form Block
//**************************************************

.login-form-wrapper {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 450px;
    min-height: 225px;
}

.login-form {
    display: flex;
    flex-direction: column;

    width: 80%;
    max-width: 350px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.login-form {

    div {
        display: flex;
        justify-content: space-between;

        padding-bottom: 10px;
    }

    label {
        width: 80px;
    }
}

//**************************************************
//END Login Form Block
//**************************************************

//*************************************************************************************************
//*************************************************************************************************
//*******************************************Typography********************************************
//*******************************************Includes: ********************************************
//font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style, font-weight,

//hyphens, src, line-height, letter-spacing, word-spacing, color, text-align, text-decoration,
//text-indent, text-overflow, text-rendering, text-size-adjust, text-shadow, text-transform,
//word-break, word-wrap, white-space
//*************************************************************************************************
//*************************************************************************************************

//**************************************************
//START Generic Element Block
//**************************************************

main {

    h2 {
        font-size: 300%;
        text-align: center;
    }

    p {

        @media (min-width: $tablet-mid) {
            text-align: justify;
        }
    }

    a {
        color: $color-link;
    }
}

//**************************************************
//END Generic Element Block
//**************************************************

//**************************************************
//START Menu Block
//**************************************************

.menu {

    .menu-item-header {
        font-weight: bold;
        color: $menu-header;
    }
}

//**************************************************
//END Menu Block
//**************************************************

//**************************************************
//START Contact Block
//**************************************************

.location {

    .location-header {
        color: $contact-header;
    }

    div p:nth-child(odd) {
        text-align: left;
    }

    div p:nth-child(even) {
        text-align: right;
    }
}

//**************************************************
//END Contact Block
//**************************************************

//*************************************************************************************************
//*************************************************************************************************
//*********************************************Visual**********************************************
//*******************************************Includes: ********************************************
//vertical-align, list-style, list-style-type, list-style-position, list-style-image,
//pointer-events, cursor,

//background, background-attatchment, background-color, background-image, background-position,
//background-repeat, background-size,

//border, border-collapse, border-top, border-right, border-bottom, border-left, border-color,
//border-image, border-top-color, border-right-color, border-bottom-color, border-left-color,
//border-spacing, border-style, border-top-style, border-right-style, border-bottom-style,
//border-left-style, border-width, border-top-width, border-right-width, border-bottom-width,
//border-left-width,

//border-radius, border-top-right-radius, border-bottom-right-radius, border-bottom-left-radius,
//border-top-left-radius, border-radius-topright, border-radius-bottomright,
//border-radius-bottomleft, border-radius-topleft,

//content, quotes, outline, outline-offset, opacity, filter, visibility, size, zoom
//*************************************************************************************************
//*************************************************************************************************

//**************************************************
//START Main Block
//**************************************************

main {

    #content {
        background-color: $color-body;

        border-right: 2px solid $color-borders;
        border-left: 2px solid $color-borders;
    }
}

//**************************************************
//END Main Block
//**************************************************

//**************************************************
//START Generic Element Block
//**************************************************



//**************************************************
//END Generic Element Block
//**************************************************

//**************************************************
//START Menu Block
//**************************************************

.menu-item {
    background-color: $menu-back;

    //border-right: 1px solid $menu-border;
    border-bottom: 2px solid $menu-border;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15px;
}

.menu {

    .menu-item-header {
        background-color: $menu-header-back;

        border-bottom: 3px solid $menu-header;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .menu-item-body {

        img {
            border: 2px solid $menu-border;
            border-radius: 50%;
        }
    }
}

//**************************************************
//END Menu Block
//**************************************************

//**************************************************
//START Contact Block
//**************************************************

.location {
    background-color: $contact-back;

    border-radius: 10px;
}

.location {

    .location-header {
        //background-color: $contact-back;
    }

    div {
        display: flex;
        justify-content: space-between;
    }

    div:nth-child(2n+2) {
        background-color: $contact-row-even;
    }

    div:nth-child(2n+3) {
        background-color: $contact-row-odd;
    }

    div:last-child {
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
}

//**************************************************
//END Contact Block
//**************************************************

//**************************************************
//START Login Form Block
//**************************************************

.login-form-wrapper {
    background-color: $color-transparentGrey;
}

.login-background {
    background-color: $color-body;
    border: 2px solid $menu-border;
}

//**************************************************
//END Login Form Block
//**************************************************

//*************************************************************************************************
//*************************************************************************************************
//*********************************************Other***********************************************
//*******************************************Includes: ********************************************
//transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing, table-layout,

//animation, animation-delay, animation-duration, animation-iteration-count, animation-name,
//animation-play-state, animation-timing-function, animation-fill-mode,

//transition, transition-delay, transition-duration, transition-property,
//transition-timing-function,

//background-clip, backface-visibility, resize, appearance, user-select, interpolation-mode,
//direction, marks, page, set-link-source, unicode-bidi, speak
//*************************************************************************************************
//*************************************************************************************************

//**************************************************
//START ***** Block
//**************************************************



//**************************************************
//END ***** Block
//**************************************************

