
//****************************************************************************************************
//*********************************************Variables**********************************************
//****************************************************************************************************

// This file is used to declare variables which shall be added into most other .scss files.
// Kept in a single place to allow for ease of maintaining.


//**************************************************
//START Color Block
//**************************************************

// GreyScale
$color-black: #000;
$color-greyDarkMore: #212121;
$color-greyDark: #404040;
$color-greyDarkLess: #616161;
$color-grey: #808080;
$color-greyLightLess: #a1a1a1;
$color-greyLight: #bfbfbf;
$color-greyLightMore: #e0e0e0;
$color-white: #fff;
$color-transparentGrey: rgba(85, 85, 85, 0.4);


// Background Color
$color-header: #21140a;
$color-nav: #59341b;
$color-body: #cdd0c5;
$color-margins: #907544;
$color-borders: $color-black;


// Font Color
$color-title1: #FCE1B0;
$color-title2: #F8FAEA;
$color-link: #211c10;
$color-text: #2F2206;


// Menu Color
$menu-back: $color-margins;
$menu-header: $color-title1;
$menu-header-back: $color-header;
$menu-body-back: $color-body;
$menu-description: $color-title1;
$menu-border: $color-nav;


// Contact Location Color
$contact-header: $color-title1;
$contact-back: $color-header;
$contact-row-even: $color-margins;
$contact-row-odd: $color-body;

//**************************************************
//END Color Block
//**************************************************

//**************************************************
//START Media Query Block
//**************************************************

// PHONE --- MIN: 0px, MAX: 767px
$phone-mid: 550px;
$phone-max: 767px;

// TABLET --- MIN: 768px, MAX: 1023px
$tablet-min: 768px;
$tablet-mid: 896px;
$tablet-max: 1023px;

// LAPTOP --- MIN: 1024px, MAX: 1600px
$laptop-min: 1024px;
$laptop-mid: 1300px;
$laptop-max: 1600px;

// DESKTOP --- MIN: 1601px, MAX: inf
$desktop-min: 1601px;

//**************************************************
//END Media Query Block
//**************************************************

//**************************************************
//START Misc Block
//**************************************************



//**************************************************
//END Misc Block
//**************************************************
