html, body, hgroup, header, footer, nav,
article, section, aside, figure, figcaption,
h1, h2, h3, h4, h5, h6,
ol, ul, li,
div, span, p, img, a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Lato', 'Open Sans', sans-serif;
  vertical-align: baseline;
  border: 0; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 120%; }

h4 {
  font-size: 110%; }

h5 {
  font-size: 105%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

header {
  width: 100%; }

footer {
  width: 100%; }

nav {
  width: 85%; }

main {
  flex-grow: 1;
  width: 100%; }

body {
  color: #0d0b06; }

body {
  background-color: #bf8d36; }

header {
  border-bottom: 2px solid #000; }

nav {
  border-bottom: 2px solid #000;
  border-bottom-right-radius: 5em;
  border-bottom-left-radius: 5em; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px; }

header .placeholder {
  width: 10%; }
header .login {
  width: 10%; }

header a {
  color: #fcce7e;
  text-decoration: none; }
header a:hover {
  color: #fff; }

header {
  background-color: #21140a; }

header a {
  transition: all 0.5s ease; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px; }

footer {
  font-weight: bold;
  color: #f2b955; }

footer {
  background-color: #21140a;
  border-top: 2px solid #000; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px; }

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }
nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px; }
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

nav .drop {
  position: relative; }
nav .drop div {
  position: absolute;
  top: 22px;
  left: -16px;
  display: none; }
nav .drop:hover div {
  display: block; }
nav .drop li {
  height: 25px; }
nav .drop a {
  width: 100%;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px; }

nav {
  color: #f2b955; }

nav li {
  color: #f2b955;
  font-weight: bold; }
nav li:hover {
  color: #fcce7e;
  text-decoration: underline; }
nav a {
  color: #f2b955;
  text-decoration: none; }
nav a:hover {
  color: #fcce7e;
  text-decoration: underline; }
nav li ul {
  display: flex;
  flex-direction: column; }

nav {
  background-color: #59341b; }

nav li {
  list-style-type: none; }

nav .drop div {
  background-color: #59341b; }
nav .drop:hover div {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000; }

nav a {
  transition: all 0.5s ease; }

main {
  display: flex;
  justify-content: space-between; }

main .placeholder {
  width: 10%;
  min-width: 100px; }
main #content {
  width: 80%;
  min-width: 500px;
  padding-top: 20px;
  padding-right: 3%;
  padding-bottom: 20px;
  padding-left: 3%; }

main p {
  padding-top: 15px;
  padding-bottom: 15px; }
main img {
  width: 100%;
  height: auto; }

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.menu .menu-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 45%; }
.menu .menu-item-header {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%; }
.menu .menu-item-body {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px; }
.menu .menu-item-body div {
  max-width: 30%; }
.menu .menu-item-body p {
  padding-right: 10px;
  padding-left: 20px; }

.logo-img {
  float: left;
  max-width: 30%;
  height: auto; }

.location {
  width: 100%;
  max-width: 600px;
  padding-top: 10px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto; }

.location .location-header {
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px; }
.location div {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px; }
.location p {
  padding: 0; }

main h2 {
  font-size: 300%;
  text-align: center; }
main p {
  text-align: justify; }
main a {
  color: #211c10; }

.menu .menu-item-header {
  font-weight: bold;
  color: #fcce7e; }

.location .location-header {
  color: #fcce7e; }

main #content {
  background-color: #e0ab4f;
  border-right: 2px solid #000;
  border-left: 2px solid #000; }

.menu-item {
  background-color: #bf8d36;
  border-bottom: 2px solid #59341b;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-top-left-radius: 15px; }

.menu .menu-item-header {
  background-color: #21140a;
  border-bottom: 3px solid #fcce7e;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; }
.menu .menu-item-body img {
  border: 2px solid #59341b;
  border-radius: 50%; }

.location {
  background-color: #21140a;
  border-radius: 10px; }

.location div {
  display: flex;
  justify-content: space-between; }
.location div:nth-child(2n+2) {
  background-color: #bf8d36; }
.location div:nth-child(2n+3) {
  background-color: #e0ab4f; }
.location div:last-child {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px; }

/*# sourceMappingURL=base.css.map */
